extends layout.pug 

block content
  div.container
    h1.title #{ post.title }
    p.name #{ post.name }
    p.surname #{ post.surname }
    p.gmail #{ post.gmail }
    p.description #{ post.description }

